.avatar-image {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  border: 3px solid rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.avatar-image:hover {
  /* darken the image */
  filter: brightness(0.8);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 125%; /* Position the menu below the button */
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 20px, rgba(0, 0, 0, 0.1) 0px 3px 6px;
  z-index: 1000; /* Ensure the menu is above other content */
  min-width: 140px;
}

.dropdown-icon {
  opacity: 0.8;
  width: 14px;
  margin-right: 8px;
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  font-size: 14px;
  cursor: pointer;
  color: rgb(79, 43, 45);
}

.dropdown-item:hover {
  background-color: #f1f1f1;
}
