.timer-background {
  height: 100vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  overflow: hidden;
}

.timer-background.pomodoro {
  background-color: rgb(186, 73, 73); /* Red for Pomodoro */
}

.timer-background.shortBreak {
  background-color: rgb(56, 133, 138); /* Teal for Short Break */
}

.timer-background.longBreak {
  background-color: rgb(57, 112, 151); /* Blue for Long Break */
}

.timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-header {
  width: 620px;
  padding: 30px 15px 0px 15px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .timer-header {
    min-width: 84%;
    padding: 30px 15px 30px 15px;
  }
}

.timer-header-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-header-upper-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.line-break {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.timer-content-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-display-container {
  width: 480px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-display {
  width: 100%;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-display-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer-display-header-button {
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  font-size: 20px;
  border-radius: 5px;
}

.timer-display-header-button.active {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 20px;
  background: none rgba(0, 0, 0, 0.15);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
  background-color: none rgba(0, 0, 0, 0.15);
  cursor: default; /* Disable pointer events on active button */
  pointer-events: none; /* Disable clicks on active button */
}

.timer-display-header-button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.timer-display-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-display-time-text {
  font-size: 120px;
  font-weight: bold;
}

.timer-display-bottom {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.timer-display-bottom-button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-display-bottom-button.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none; /* Disable clicks */
}

.timer-display-bottom-button:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.timer-display-bottom-button svg {
  font-size: 1.5rem; /* Adjust icon size */
}

.white-line-break {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.5);
  height: 2px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 20px;
}

.timer-history {
  width: 480px;
  padding: 10px;
  border-radius: 8px;
}

.history-title-text {
  font-size: 20px;
  font-weight: 600;
}

.history-list {
  margin-top: 10px;
  max-height: 370px;
  overflow-y: scroll;
  padding-right: 2px;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */
.history-list::-webkit-scrollbar {
  width: 2px; /* Very thin scrollbar (2px) */
}

.history-list::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1); /* Track color */
  border-radius: 1px; /* Rounded corners for the track */
}

.history-list::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.3); /* Thumb color */
  border-radius: 1px; /* Rounded corners for the thumb */
}

.history-list::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5); /* Thumb color on hover */
}

.history-item {
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 4px;
  border: 4px dashed;
  border-color: rgba(255, 255, 255, 0.3);
}

.history-mode {
  font-size: 16px;
  margin-bottom: 5px;
}

.history-events {
  margin-left: 10px;
}

.history-event {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.event-type {
  display: flex;
  font-weight: bold;
  font-size: 16px;
  justify-content: center;
  align-items: center;
}

.event-time {
  color: #ffffff;
  font-size: 14px;
}

.history-duration {
  margin-top: 5px;
  font-size: 14px;
  color: #ffffff;
}

.event-type.start {
  color: hsla(122, 39%, 70%, 1); /* Brighter green */
}

.event-type.pause {
  color: hsla(36, 100%, 70%, 1); /* Brighter orange */
}

.event-type.end {
  color: hsla(4, 90%, 70%, 1); /* Brighter red */
}

.event-type {
  display: flex;
  align-items: center;
  gap: 8px; /* Space between icon and text */
}

.event-type svg {
  font-size: 16px; /* Icon size */
}
