.timer-background {
  height: 100vh;
  width: 100%;
  color: white;
  transition: background-color 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
}

.timer-background.pomodoro {
  background-color: rgb(186, 73, 73); /* Red for Pomodoro */
}

.timer-background.shortBreak {
  background-color: rgb(56, 133, 138); /* Teal for Short Break */
}

.timer-background.longBreak {
  background-color: rgb(57, 112, 151); /* Blue for Long Break */
}

.timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-header {
  width: 620px;
  padding: 30px 15px 30px 15px;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 700px) {
  .timer-header {
    min-width: 84%;
    padding: 30px 15px 30px 15px;
  }
}

.timer-header-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer-header-upper-content {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.line-break {
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  margin-bottom: 40px;
}

.timer-content-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-display {
  width: 480px;
  height: 280px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.timer-display-header {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.timer-display-header-button {
  cursor: pointer;
  padding: 8px;
  margin: 20px;
  font-size: 20px;
  border-radius: 5px;
}

.timer-display-header-button.active {
  border: none;
  margin: 0px;
  border-radius: 4px;
  font-size: 20px;
  background: none rgba(0, 0, 0, 0.15);
  box-shadow: none;
  color: white;
  opacity: 1;
  font-weight: bold;
  background-color: none rgba(0, 0, 0, 0.15);
  cursor: default; /* Disable pointer events on active button */
  pointer-events: none; /* Disable clicks on active button */
}

.timer-display-header-button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.timer-display-time {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-display-time-text {
  font-size: 120px;
  font-weight: bold;
}

.timer-display-bottom {
  display: flex;
  width: 60%;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.timer-display-bottom-button {
  cursor: pointer;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.timer-display-bottom-button.disabled {
  cursor: default;
  opacity: 0.5;
  pointer-events: none; /* Disable clicks */
}

.timer-display-bottom-button:not(.disabled):hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.timer-display-bottom-button svg {
  font-size: 1.5rem; /* Adjust icon size */
}
